---
import Base         from '../layouts/Base.astro'
import Hero         from '../components/Hero.astro'
import Why          from '../components/Why.astro'
import UseCases     from '../components/UseCases.astro'
import QuickStart   from '../components/QuickStart.astro'
import HowItWorks   from '../components/HowItWorks.astro'
import Comparison   from '../components/Comparison.astro'
import Pricing      from '../components/Pricing.astro'
import FAQ          from '../components/FAQ.astro'
import ForCompanies from '../components/ForCompanies.astro'
import Footer       from '../components/Footer.astro'
---

<Base>
  <main>
    <Hero />
    <Why />
    <UseCases />
    <QuickStart />
    <HowItWorks />
    <Comparison />
    <Pricing />
    <FAQ />
    <ForCompanies />
  </main>
  <Footer />
</Base>
